// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/workout/workout";


scroll-content{
    background: #{map-get($colors, gray)}
}

.toolbar 
    button{
        color:white;
    }
    .toolbar-background{
    background: #{map-get($colors, primary)}
}


.back-button{
    color: #{map-get($colors, primary)}
}

.toolbar-title{
    color: #{map-get($colors, gray)}
}

.button[rep-button]{
    box-shadow: initial;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    min-width: 0;
    vertical-align: middle;
    background-clip: padding-box;
    overflow: hidden;
    font-size: 14px;
    &.empty{
        background: #{map-get($colors, dark_gray)}
    }
}

