<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{workout.name}}</ion-title>
</ion-navbar>


<ion-content padding class="workout">
    <ion-card *ngFor="#exercise of workout.exercises">
        <ion-card-content>
            <div class="information-container">
                <span>{{exercise.name}}</span>
                <span>{{exercise.setGoal}}x{{exercise.repGoal}} {{exercise.weight}}</span>
            </div>
            <div class="button-container">
                <button *ngFor="#rep of exercise.reps">{{rep}}</button>
            </div>
        </ion-card-content>

    </ion-card>
</ion-content>