<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon white name="menu"></ion-icon>
    </button>
    <ion-title (click)="changeWorkoutPrompt()">{{workout.name}}   <ion-icon name="arrow-dropdown"></ion-icon></ion-title>

</ion-navbar>


<ion-content padding class="workout">
    <ion-card *ngFor="#exercise of workout.exercises; #exerciseIndex = index">
        <ion-card-content>
            <div class="information-container">
                <span>{{exercise.name}}</span>
                <span (click)="adjustWeightPrompt(exercise)">{{exercise.set_goal}}x{{exercise.rep_goal}} {{exercise.weight || 0}} lb's</span>
            </div>
            <div *ngIf="!exercise.message" class="button-container">
                <button 
                    rep-button class="rep-button" 
                    [ngClass]="{empty: rep !== 0 && !rep}" 
                    (click)="handleRepClick(exerciseIndex,repIndex)" 
                    *ngFor="#rep of exercise.reps; #repIndex = index">{{rep}}
                </button>
            </div>
            
            <div *ngIf="exercise.message">
                {{exercise.message}}
            </div>
        </ion-card-content>

    </ion-card>
    <button fab fab-right (click)="save()">Finish</button>
</ion-content>