<ion-navbar *navbar>
    <button primary menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >{{workout.name}}</ion-title>
</ion-navbar>


<ion-content padding class="workout">
    <ion-card *ngFor="#exercise of workout.exercises; #exerciseIndex = index">
        <ion-card-content>
            <div class="information-container">
                <span>{{exercise.name}}</span>
                <span (click)="adjustWeightPrompt(exercise)">{{exercise.set_goal}}x{{exercise.rep_goal}} {{exercise.weight}} lb's</span>
            </div>
            <div class="button-container">
                <button 
                    rep-button class="rep-button" 
                    [ngClass]="{empty: !rep}" 
                    (click)="handleRepClick(exerciseIndex,repIndex)" 
                    *ngFor="#rep of exercise.reps; #repIndex = index">{{rep}}
                </button>
            </div>
        </ion-card-content>

    </ion-card>
    <button fab fab-right (click)="save()">Finish</button>
</ion-content>